.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: clamp(32px, 5vw, 48px) 0;
    z-index: 9999;
    .navbar {

    }
}
@media (max-width: 992px) {
    .header {
        .navbar {
            display: flex;
            justify-content: center;
        }
    }
}